# Block Zero testnet — copy to bitcoin.conf in your datadir

server=1
listen=1
txindex=1

[test]
bind=0.0.0.0:18210
rpcbind=127.0.0.1
rpcallowip=127.0.0.1
rpcport=18211
addnode=217.160.46.61:18210
